body {
	background-color: #efeee7;
	margin: 0;
	padding: 0;
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 150%;
}

/* line reads: "Giant Robotic Savior*/
h1 {
	color: #efeee7;
	background-color: #333333;
	margin: 0;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 28px;
}

/*line reads: "Voltron: Defender of the Universe"*/
h2 {
	font-size: 24px;
		-webkit-text-stroke: 1px black;
		color: yellow;			
}

/*changing color of links*/
a {
	color: red
}

/*conainter includes header, image, paragraph, and contact information*/
.container {
		width: 1024px;
		margin: 0 auto;
}


#main-bio,
#contact-info,
#bio-image {
		float: left;
}

/* paragraph*/
#main-bio {
		width: 70%;
}

#contact-info {
		width: 30%;
}

#bio-image {
	margin-right: 20px;
	width: 200px;
	height: 300px;
}